<!--<script src="src/assets/js/HexStringToBigInt.js"></script>-->
<div class="container">
  <div class="form-group" (submit)="ngOnInit()">
    <input type="text" placeholder="*Name" class="form-control" [(ngModel)]="userName" name="NAME" value="{{userName}}"><br>
    <input type="text" placeholder="*Surname" class="form-control" [(ngModel)]="userSurname" name="SURNAME" value="{{userSurname}}"><br>
    <input type="text" placeholder="*Email" class="form-control" [(ngModel)]="login" name="EMAIL" value="{{login}}"><br>
    <input type="password" placeholder="*Password" class="form-control" [(ngModel)]="password" name="PASSWORD" value="{{password}}"><br>
    <input type="password" placeholder="*Copy of the password" class="form-control" [(ngModel)]="copyPassword" name="COPYPASSWORD" value="{{copyPassword}}"><br>
    <output style="color: slategrey">*Birthday:</output><br>
    <input type="date" placeholder="Birthday" class="form-control" [(ngModel)]="birthday" name="BIRTH" value="{{birthday}}"><br>
    <output style="color: slategrey">*Gender:</output><br>
    <select class="form-control" [(ngModel)]="gender" name="GENDER">
      <option *ngFor="let g of genders" [ngValue]="g" value="Male">{{g.name}}</option>
    </select><br>
    <output style="color: slategrey">Do you want to talk about the bug?</output><br>
    <input name="bug" type="radio" [(ngModel)]="model.bug" value="Amen">Amen
    <input name="bug" type="radio" [(ngModel)]="model.bug" value="Aluminium" style="margin-left: 25%">Lumen
    <input name="bug" type="radio" [(ngModel)]="model.bug" value="No" checked="true" style="margin-left: 32%">No<br>
    <br>
    <output style="color: slategrey">Comments:</output>
    <textarea name="comments" class="form-control" [(ngModel)]="comments" id="comments" cols="30" rows="5" [value]=""></textarea><br>
    <output style="color: slategrey">* - required fields</output><br>
    <input type="button" class="btn btn-outline-primary" (click)="getPublicValue()" value="Sign up" style="margin-left: 40%">
  </div>
</div>

