<!--<script src="src/assets/js/HexStringToBigInt.js"></script>-->
<div class="container">
  <div class="form-group" (submit)="ngOnInit()">
    <input type="text" placeholder="*Name" class="form-control" [(ngModel)]="userName" name="NAME" value="{{userName}}"
           required="required"><br>
    <input type="text" placeholder="*Surname" class="form-control" [(ngModel)]="userSurname" name="SURNAME"
           value="{{userSurname}}" required="required"><br>
    <input type="text" placeholder="*Email" class="form-control" [(ngModel)]="login" name="EMAIL" value="{{login}}"
           required="required"><br>
    <input type="password" placeholder="*Password" class="form-control" [(ngModel)]="password" name="PASSWORD"
           value="{{password}}" required="required"><br>
    <input type="password" placeholder="*Copy of the password" class="form-control" [(ngModel)]="copyPassword"
           name="COPYPASSWORD" value="{{copyPassword}}" required="required"><br>
    <output style="color: slategrey">*Birthday:</output><br>
    <input type="date" class="form-control" [(ngModel)]="birthday" name="BIRTH"
           value="{{birthday}}" required="required"><br>
    <output style="color: slategrey">*Gender:</output><br>
    <select class="form-control" [(ngModel)]="gender" name="GENDER">
      <option *ngFor="let g of genders" [ngValue]="g" value="Male" required="required">{{g.name}}</option>
    </select><br>
    <output style="color: slategrey">Do you want to talk about the bug?</output><br>
    <input name="bug" type="radio" [(ngModel)]="model.bug" value="Amen">Amen
    <input name="bug" type="radio" [(ngModel)]="model.bug" value="Aluminium" style="margin-left: 25%">Lumen
    <input name="bug" type="radio" [(ngModel)]="model.bug" value="No" checked="true" style="margin-left: 32%">No<br>
    <br>
    <output style="color: slategrey">Comments:</output>
    <textarea name="comments" class="form-control" [(ngModel)]="comments" id="comments" cols="30" rows="2"
              [value]=""></textarea><br>
    <div class="alert alert-warning">
      <output><a>* - required fields. The password should:</a></output>
      <output><a>- consist of at least 8 characters;</a><br>
        <a>- contain at least one lowercase english letter;</a><br>
        <a>- contain at least one uppercase english letter;</a><br>
        <a>- contain at least one digit.</a><br>
      </output>
    </div>
    <input type="button" [disabled]="userName == null || userName.length == 0 ||
                                     userSurname == null || userSurname.length == 0 ||
                                     login == null || login.length == 0 || !validateEmail(login) ||
                                     password == null || password.length == 0 || !validatePassword(password) ||
                                     copyPassword == null || copyPassword.length == 0 || password != copyPassword ||
                                     birthday == null || birthday.length == 0 ||
                                     gender == null || gender.length == 0"
           class="btn btn-outline-primary" (click)="getPublicValue()" value="Sign up" style="margin-left: 40%"><br><br>
  </div>
</div>

